body {
    margin: 0px;
    padding: 0px;
    background: #D5E1EF;
}

section {
    background: #FFFFFF;
    margin: 100px auto 0 auto;
    width: 320px;
    height: 497px;
    border: 1px solid #979797;
    border-radius: 10px;
}

#img-qr-code {
    max-width: 290px;
    height: 300px;
    border-radius: 10px;
    padding: 15px;
}

div {
    margin: -27px auto 0 auto;
    width: 288px;
    height: auto;
}

p:first-of-type {
    font-weight: 700;
    color: #1F314F;
    font-size: 22px;
    align-content: center;
    font-family: 'Outfit';
    line-height: 28px;
    text-align: center;
    font-style: normal;
    max-width: 276px;
}

p:last-of-type {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;
    color: #7D889E;
    max-width: 254px;
}
